body{
    background-image: url(/Images/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mikepng{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 300px;
    background-color: #D9D9D9;
    border-radius: 25px;
}

.productname{
    background-color: #D9D9D9;
    padding: 2px;
    border-radius: 25px 0px 0px 25px;
    width: 900px;
    text-align: left;
    position: absolute;
    right: 0px;
    top: 300px;
    font-size: x-large;
}

.description{
    background-color: #D9D9D9;
    padding: 2px;
    border-radius: 25px 0px 0px 25px;
    width: 900px;
    text-align: left;
    position: absolute;
    right: 0px;
    top: 450px;
    font-size: x-large;
}

.carritotext{
    position: absolute;
    right: 700px;
    top: 670px;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: bottom;
}

.carritoimg{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 700px;
    top: 700px;
}

.carritoimg:hover{
    filter: grayscale(80%);
}

.likeimg{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 200px;
    top: 700px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.likeimg:hover{
    filter: grayscale(80%);
}

