.tabla{
    width: 100%;
}
.categorias {
    background-color: #139292;
}
.div1{
              
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 250px;
}
.Ccopi{
              
        margin-top: 150px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 550px;
    
}
